<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Habilitar la navegación por directorios -->
        <directoryBrowse enabled="true" />
        
        <!-- Configuración de tipos MIME -->
        <staticContent>
            <mimeMap fileExtension=".pkg" mimeType="application/x-newton-compatible-pkg" />
            <mimeMap fileExtension=".xvc" mimeType="application/x-newton-compatible-xvc" />
            <mimeMap fileExtension=".nsp" mimeType="application/x-newton-compatible-nsp" />
            <mimeMap fileExtension=".log" mimeType="text/plain" /> <!-- Nuevo tipo MIME para archivos .log -->
        </staticContent>
        
        <!-- Configuración de seguridad -->
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
    
    <!-- Configuración de identidad -->
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>